# General
*.class
*.log
*.pyc
*.swp
.DS_Store

# Editor folders
.atom/
.history
.svn/
.idea/
*.iml
*.ipr
*.iws

# Build and cache
.build/
.buildlog/
migrate_working_dir/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.build/
**/doc/api/
**/ios/Flutter/.last_build_id
/build/

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication & obfuscation
app.*.symbols
app.*.map.json

# Swift/Apple
.swiftpm/

# VS Code (uncomment to ignore VS Code settings)
# .vscode/
